html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{font-size:14px;font-family:'Roboto',Arial;line-height: 16px}
body{width: 100%;}
h1{font-size:28px;font-family:'Roboto Condensed',Arial;color:#002157}
h2{font-size:20px}
h3{font-size:18px;margin-top:25px; margin-bottom: 5px}
.row.titulo h1{margin: 20px 0 32px 0;}
ul.li-tabla{display:table;list-style-position:inside;padding:0;margin:0}
ul.li-tabla li{display:table-row;padding:0;margin:0;text-indent:10px}
ul.li-tabla li p{display:table-cell;vertical-align:top;width:60%;box-sizing: border-box;padding-left:5px;margin-bottom:20px;display:inline-block;text-align:left;text-indent: 0px;}
ul.li-tabla li span{display:table-cell;vertical-align:top;width:35%;display:inline-block;text-align:right}
ul.li-tabla > li:before{content:'';display:inline-block;width:6px;height:6px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#cdcdcd;position:relative;top:-3px}
ul.guion{margin:0 0 10px;padding:0;list-style-type:none}
ul.guion > li{text-indent:0; margin-bottom:10px}
ul.guion > li:before{content:"- ";text-indent:-40px}
.container{padding-left: 30px; padding-right: 30px;}
.logo-bchile{background: url(../img/logo-sprite.png) no-repeat  left top; display: block; height:42px; width:254px; margin:29px 0}
.table > thead > tr > th{border:none;}
.desplegable-box .btn.btn-success{margin-right: 30px}
.table{border-top:solid 1px #d2d2d4;border-bottom:solid 1px #d2d2d4}
.table th,.table td{font-family:Arial}
.pagination .activo a{background-color:#3e89cc;color:#fff}
.pagination li a{color:#3e89cc}
.navbar{border-radius:0;border:none;margin-bottom: 0px}
.text-gris *{color:#666668}
.round,.white-box{border-radius:4px}
.line-dark,.white-box{border:solid 1px #d2d2d4}
.gris-back,table th{background-color:#f6f6f8}
.white-back,.white-box,.input-group-addon{background-color:#fff}
.top-line{border-top:solid 2px #e6e6e8}
.bottom-line{border-bottom:solid 2px #e6e6e8}
.white-box{padding:38px 0px 15px;margin:10px 0}
.desplegable-box{margin-top:35px;margin-bottom:15px}
.input-group-addon{color:#ccc}
.margenv1{margin-top:10px;margin-bottom:10px}
.margenv2{margin-top:20px;margin-bottom:15px}
.margent1{padding-top:10px!important}
.margent15{padding-top:15px!important}
.margen8{margin-top:8px}
.navbar-default .navbar-toggle{border:none;margin-top:27px}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-toggle .icon-bar + .icon-bar{margin-top:10px}
.navbar-toggle .icon-bar{display:block;width:40px;height:1px}
.navbar > .container.container-fluid{padding-right:15px;padding-left:15px}
.navbar.test-bch{background-color:#002157}
.navbar.test-bch .navbar-right{margin-top:10px}
.navbar.test-bch .navbar-right li:first-child{border-right:solid 1px #fff}
.navbar.test-bch .navbar-right li a{font-size:12px;color:#fff;padding:0 5px;line-height:10px}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:transparent}
.desplegable-box > .col-xs-12 > .row{}
.desplegable-box .col-xs-6.text-right button { margin-top: 7px; padding:8px 10px; font-size: 12px; line-height: 12px}
.titulo-desplegable{ font-weight: bold; margin: 10px 0 15px}
#demo{background-color:#f1f1f3}
@media (max-width: 799px ) {
.navbar-default .navbar-collapse .navbar-right li a{padding:20px;font-size:16px}
body > nav > div > div.navbar-header > a > img{padding-left: 20px;}
body > .container.bch-test-jg{width: 96%;margin-right: auto; margin-left: auto;}
.logo-bchile{margin-left:25px }
}
@media (max-width: 992px ) {
.desplegable-box .input-group, .desplegable-box .form-control{ padding-bottom: 10px;}
.white-box{ margin-top: 25px;}
.btn.btn-success{margin-top: 10px}  
ul.li-tabla > li:before, ul.li-tabla li span{display: none;}
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {

}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}